<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/fontawesome/css/all.css">
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="footer1.css">
    <title>Footer1</title>
</head>
<body>
    <footer class="site-footer">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-12 me-auto">
                    <em class="text-white d-block mb-4">Where to find us?</em>

                    <strong class="text-white">
                        <i class="bi-geo-alt me-2"></i>
                        Bandra West, Mumbai, Maharashtra 400050, India
                    </strong>

                    <ul class="social-icon mt-4">
                        <li class="social-icon-item">
                            <a href="https://facebook.com/" target="_blank" class="social-icon-link">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>

                        <li class="social-icon-item">
                            <a href="https://instagram.com/" target="_blank" class="social-icon-link">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>

                        <li class="social-icon-item">
                            <a href="https://twitter.com/" target="_blank" class="social-icon-link">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>

                        <li class="social-icon-item">
                            <a href="https://.snapchat.com/" target="_blank" class="social-icon-link">
                                <i class="fab fa-snapchat"></i>
                            </a>
                        </li>
                        <li class="social-icon-item">
                            <a href="https://whatsapp.com/" target="_blank" class="social-icon-link">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                        </li>
                        
                    </ul>
                </div>

                <div class="col-lg-3 col-12 mt-4 mb-3 mt-lg-0 mb-lg-0">
                    <em class="text-white d-block mb-4">Contact</em>

                    <p class="d-flex mb-1">
                        <strong class="me-2">Phone:</strong>
                        <a href="tel: 305-240-9671" class="site-footer-link">
                            (65) 
                            305 2409 671
                        </a>
                    </p>

                    <p class="d-flex">
                        <strong class="me-2">Email:</strong>

                        <a href="mailto:info@yourgmail.com" class="site-footer-link">
                            hello@barista.co
                        </a>
                    </p>
                </div>


                <div class="col-lg-5 col-12">
                    <em class="text-white d-block mb-4">Opening Hours.</em>

                    <ul class="opening-hours-list">
                        <li class="d-flex">
                            Monday - Friday
                            <span class="underline"></span>

                            <strong>9:00 - 18:00</strong>
                        </li>

                        <li class="d-flex">
                            Saturday
                            <span class="underline"></span>

                            <strong>11:00 - 16:30</strong>
                        </li>

                        <li class="d-flex">
                            Sunday
                            <span class="underline"></span>

                            <strong>Closed</strong>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-8 col-12 mt-4">
                    <p class="copyright-text mb-0">Copyright © Barista Cafe 2048 
                        - Design: <a rel="sponsored" href="https://www.tooplate.com" target="_blank">Tooplate</a></p>
                </div>
        </div>
    </footer>
    <script src="../../assets/jquery.js"></script>
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="footer1.js"></script>
</body>
</html>