.header_section {
    background-color: #ffffff;
    position: relative;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 28.5% 100%, 26.5% 86%, 0 84%, 0 0);
            clip-path: polygon(50% 0%, 100% 0, 100% 100%, 28.5% 100%, 26.5% 86%, 0 84%, 0 0);
  }
  
  .header_section::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 62%;
    height: 45px;
    background: #080203;
    z-index: 1;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 8% 100%, 0 0);
            clip-path: polygon(50% 0%, 100% 0, 100% 100%, 8% 100%, 0 0);
  }
  
  .header_section .nav_container {
    margin: 0 auto;
  }

  .header_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .main_nav {
    position: relative;
    z-index: 9;
  }
  
  .main_nav .top_nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  
  .main_nav .top_nav ul li {
    list-style-type: none;
  }
  
  .main_nav .top_nav ul li a {
    display: inline-block;
    color: #ffffff;
    margin: 10px 0 10px 35px;
  }
  
  .main_nav .top_nav ul li a img {
    max-width: 25px;
    max-height: 25px;
    margin-right: 15px;
  }
  
  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
    padding: 10px 20px;
    color: #212121;
    text-align: center;
    text-transform: uppercase;
  }
  .custom_nav-container .nav_search-btn {
    background-image: url(../images/search-icon.png);
    background-size: 22px;
    background-repeat: no-repeat;
    background-position-y: 7px;
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
  }
  
  .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .navbar-brand img {
    width: 125px;
    margin-right: 5px;
  }
  
  .navbar-brand.brand_mobile {
    display: none;
  }
  
  .custom_nav-container {
    z-index: 99999;
  }
  
  .custom_nav-container .navbar-toggler {
    outline: none;
  }
  

  @media (max-width: 1250px) {
    .header_section::before {
        width: 75%;
    }

    .header_section {
        clip-path: polygon(50% 0%, 100% 0, 100% 100%, 22% 100%, 20% 86%, 0 84%, 0 0);

    }

}
@media (max-width: 992px) {

    .navbar-brand.brand_mobile {
        display: flex;
    }

    .navbar-brand.brand_desktop {
        display: none;
    }

    .header_section .main_nav {
        flex: 1;
    }

    #navbarSupportedContent {
        margin-top: 15px;
    }

    .header_section {
        padding: 10px 0;
        clip-path: none;
    }

    .header_section::before,
    .main_nav .top_nav {
        display: none;
    }

}