<footer class="site-footer">
   <div class="container pb-4">
       <div class="row">
           <div class="col-lg-3 col-12 me-auto mb-4">
               <h4 class="text-white mb-3"><a routerLink="/">Snack</a> Land</h4>
               <p>Slogan de la marque</p>

               <img src="assets/images/logo.png" alt="Logo" height="50px">
               <!-- <p class="copyright-text text-muted mt-lg-5 mb-4 mb-lg-0">Copyright © 2022 <strong>Little Fashion</strong></p>
               <br>
               <p class="copyright-text">Designed by <a href="https://www.tooplate.com/" target="_blank">Tooplate</a></p> -->
           </div>

           <div class="col-lg-5 col-12">
               <h5 class="text-white mb-3">Sitemap</h5>

               <ul class="footer-menu d-flex flex-wrap">
                   <li class="footer-menu-item"><a routerLink="/" class="footer-menu-link">Accueil</a></li>

                   <li class="footer-menu-item"><a routerLink="/boutique" class="footer-menu-link">Boutique</a></li>

                   <li class="footer-menu-item"><a routerLink="/contact" class="footer-menu-link">Contact</a></li>

               </ul>
           </div>

           <div class="col-lg-3 col-12 hidmobile">
               <h5 class="text-white mb-3">Social</h5>

               <ul class="social-icon">

                   <li><a href="#" class="social-icon-link"><i-feather name="Facebook"></i-feather></a></li>

                   <li><a href="#" class="social-icon-link"><i-feather name="Instagram"></i-feather></a></li>

                   <li><a href="#" class="social-icon-link"><i-feather name="Twitter"></i-feather></a></li>
                   <li><a href="https://wa.me/221784338388?text=Bienvenue sur la page Snackland" target="_blank" class="social-icon-link">
                    <img src="assets/images/icons/whatsapp.svg" alt="WhatsApp" height="40px">
                </a>
               </ul>
           </div>

       </div>
   </div>
</footer>