<section class="site-header section-padding-img site-header-image">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-12 header-info">
                <h1>
                    <span class="d-block text-primary" style="font-style: italic;">Snack Land</span>
                    <span class="d-block text-dark">Au plaisir de vous venir en aide</span>
                </h1>
            </div>
        </div>
    </div>

    <img src="assets/images/logo.png" class="header-image img-fluid" alt="">
</section>

<section class="contact section-padding mt-4">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-6 col-12">
                <h4 class="mb-4">En quoi pouvons nous vous aider</h4>
                <!-- <h2 class="mb-4">Let's <span>begin</span></h2> -->

                <form class="contact-form me-lg-5 pe-lg-3" role="form">

                    <div class="form-floating">
                        <input type="text" name="name" id="name" class="form-control" placeholder="Nom Complet" required>

                        <label for="name">Nom Complet</label>
                    </div>

                    <div class="form-floating my-4">
                        <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Email address" required>

                        <label for="email">Email address</label>
                    </div>
                    
                    <div class="form-floating my-4">
                        <input type="text" name="Objet" id="Objet"class="form-control" placeholder="Objet" required>

                        <label for="Objet">Objet de votre demande</label>
                    </div>

                    <div class="form-floating mb-4">
                        <textarea id="message" name="message" class="form-control" placeholder="Votre commentaire ICI" required style="height: 160px"></textarea>

                        <label for="message">En quoi pouvons nous vous aider?</label>
                    </div>

                    <div class="col-lg-5 col-6">
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </div>
                </form>
            </div>

            <div class="col-lg-6 col-12 mt-5 ms-auto">
                <div class="row">
                    <div class="col-6 border-end contact-info">
                        <h6 class="mb-3">Courriel</h6>

                        <a href="mailto:hello@company.com" class="custom-link">
                            hello@company.com
                            <i class="bi-arrow-right ms-2"></i>
                        </a>
                    </div>
                    <div class="col-6 border-end contact-info">
                        <h6 class="mb-3">Téléphone</h6>

                        <a href="mailto:hello@company.com" class="custom-link">
                            77 123 44 55
                            <i class="bi-arrow-right ms-2"></i>
                        </a>
                    </div>

                    <div class="col-6 contact-info">
                        <h6 class="mb-3">Adresses</h6>

                        <p class="text-muted">Dakar,Medina</p>
                    </div>

                    <div class="col-6 contact-info">
                        <h6 class="mb-3">Nos Réseaux</h6>

                        <ul class="social-icon">
                            <li><a href="#" class="social-icon-link"><i-feather name="Facebook"></i-feather></a>
                            <li><a href="#" class="social-icon-link"><i-feather name="Instagram"></i-feather></a>
                            <li><a href="#" class="social-icon-link"><i-feather name="Twitter"></i-feather></a>
                            <li><a href="https://wa.me/221784338388?text=Bienvenue sur la page Snackland" target="_blank" class="social-icon-link">
                                <img src="assets/images/icons/whatsapp-c2.svg" alt="WhatsApp" height="40px">
                            </a>

                        </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>