@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html, 
body{
	height: 100%;
	width: 100%;
	overflow: hidden;
    margin: 0;
    background-color: white;
}
.body{
    display: flex;
    height: 100%;
	width: 100%;
}
 

.lazy{
	display: none;
}

body *, 
*:focus{
	user-select: none;
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

.sliderContainer{
	display: flex;
	position: relative;
	max-height: 100%;
	height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0 auto;
    flex-wrap: wrap-reverse;
    overflow: hidden;
}

.controls{
	position: relative;
	margin: 0 auto;
	display: flex;
	align-self: flex-end;
	font-size: 24px;
	letter-spacing: 5px;
	font-weight: bold;
	z-index: 99999;
	text-transform: uppercase;
}

.controls > div{
	align-self: center;
	width: 100%;
	height: auto;
	text-align: center;
	padding: 1px 24px 5px 23px;
	cursor: pointer;
	margin: 0px 15px;
	background-color: transparent;
	color: #202020;
	transition: 0.3s;
	font-family: sans-serif;
	font-weight: 800;
}

.arrow{
	background-color: #303030;
	width: 40px;
	border-radius: 30px;
	height: 3px;
	position: relative;
}

.arrow:before{
	position: absolute;
	content: "";
	background-color: inherit;
	width: 12px;
	border-radius: 30px;
	height: inherit;
	transform: rotate(40deg);
	display: inline-block;
	right: -3px;
	top: -3px;
}

.arrow:after{
	position: absolute;
	content: "";
	background-color: inherit;
	width: 12px;
	border-radius: 30px;
	height: inherit;
	transform: rotate(140deg);
	display: inline-block;
	right: -3px;
	top: 3px;
}

.prev-button,
.next-button{
	display: flex;
	flex-wrap: nowrap;
}

.prev-button *,
.next-button *{
	align-self: center;
	padding: 0px 8px;
	margin: 5px;
	transition: 0.6s;
}

.prev-button .arrow{
	transform: scale(-1);
}

.prev-button:hover .arrow:before,
.prev-button:hover .arrow:after{
	width: 0px;
	transition: 0.2s;
}

.prev-button:hover .arrow{
	width: 0px;
	transition: 0.4s;
	margin: 0;
	padding: 0;
}

.prev-button .hoverArrow:before,
.prev-button .hoverArrow:after{
	width: 0px;
	transition: 0.2s;
}

.prev-button .hoverArrow{
	width: 0px;
	transition: 0.4s;
	margin: 0px;
	padding: 0px;
}

.prev-button:hover .hoverArrow:before,
.prev-button:hover .hoverArrow:after{
	width: 12px;
	transition: 0.2s;
}

.prev-button:hover .hoverArrow{
	width: 40px;
	transition: 0.4s;
	margin: 5px;
	padding: 0 8px;
}

.next-button:hover .arrow:before,
.next-button:hover .arrow:after{
	width: 0px;
	transition: 0.2s;
}

.next-button:hover .arrow{
	width: 0px;
	transition: 0.4s;
	margin: 0;
	padding: 0;
}

.next-button .hoverArrow:before,
.next-button .hoverArrow:after{
	width: 0px;
	transition: 0.2s;
}

.next-button .hoverArrow{
	width: 0px;
	transition: 0.4s;
	margin: 0px;
	padding: 0px;
}

.next-button:hover .hoverArrow:before,
.next-button:hover .hoverArrow:after{
	width: 12px;
	transition: 0.2s;
}

.next-button:hover .hoverArrow{
	width: 40px;
	transition: 0.4s;
	margin: 5px;
	padding: 0 8px;
}

.slider{
	display: flex;
	text-align: center;
	margin: 0 auto;
	align-self: flex-start;
	position: relative;
	height: 80%;
	width: 100%;
}

.slider *{
	transition: 0.3s;
}

.active-slide.slide{
	max-height: 700px;
	height: 100%;
}

.slide{
	max-height: 550px;
	max-width: 100%;
	height: 100%;
}

.slide img{
	max-height: 100%;
	width: auto;
	height: auto;
	object-fit: cover;
	/* object-fit: contain; */
    border-radius: 20px;
}

.slide{
	align-self: flex-end;
	pointer-events: none;
	border-radius: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 0;
	opacity: 0;
	cursor: grab;
	transition: 0.2s cubic-bezier(0,.64,1,.94);
	/* overflow: hidden; */
}

.grabbing *,
.grabbing .active-slide{
	cursor: grabbing !important;
	transition: none !important;
}

.prev-slide.slide, 
.next-slide.slide, 
.active-slide.slide{
	pointer-events: all;
}

.prev-slide, 
.next-slide{
	filter: blur(0.5px);
}

.prev-slide:hover, 
.next-slide:hover{
	filter: blur(0px);
}

.prev-slide{
	opacity: 0.6;
	left: 35%;
}

.prev-slide:hover{
	transform: rotate(-16deg) translateX(-60%) translateY(-60%);
	opacity: 1;
	transition: 0.3s cubic-bezier(0,-0.24,.17,-0.19);
}

.next-slide:hover{
	transform: rotate(16deg) translateX(-37%) translateY(-40%);
	opacity: 1;
	transition: 0.3s cubic-bezier(0,-0.24,.17,-0.19);
}

.next-slide{
	opacity: 0.6;
	left: 65%;
}

.active-slide{
	box-shadow: 1px 2px 25px rgba(0,0,0,0.2);
	z-index: 99;
	left: 50%;
	opacity: 1;
	transition: 0.2s cubic-bezier(0,.64,1,.94);
}

.slider .card_slider{
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 300px;
	height: 600px;
}
.slider .card_slider img{
	width: 100%;
}
.descCard{
	position: absolute;
	top: -40px;
    width: 100%;
}
.descCard p,.descCard p a{
	text-decoration: none;
	color: #202020;
    transition: 0.3s;
    font-family: sans-serif;
    font-weight: 800;
	text-transform: uppercase;
    text-align: center;
}
.descCard p img{
	width: 25px !important;
	position: relative;
	top: 5px;
}


.nav-mobile{
    display: block;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 400px;
    left: 50%;
    transform: translateX(-50%); 
}
.nav-mobile ul{
    list-style: none;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
	padding: 0 20px;
}
.nav-mobile ul li{
    display: block;
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    border-radius: 15px 15px 0 0;
    height: 50px;
    padding: 12px 0;

}
.nav-mobile ul .whatsapp{
    background-color: #008000;
    border-radius: 15px 15px 0 0;
}
.nav-mobile ul .tel{
    background-color: #FFCC00;

}
.nav-mobile ul .mail{
    background-color: #FF0000;
}
.nav-mobile ul .cv{
	background-color: #333;
}
.nav-mobile ul .cv a{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-mobile ul img{
    width: 30px;
    height: 30px;
	margin-right: 5px;
}

.name{
	position: absolute;
	bottom: 5px;
	width: 100%;
}
.name .container-text{
	width: 100%;
	height: 100%;
	display: block;
}
.name .container-text h1{
	text-align: center;
}
.name .container-text h1 span{
	color: var(--color-principal);
}

.card_slider {
    padding: 10px 20px;
    height: 100%;
    width: 280px;
    background: #333;
    box-shadow: rgba(0, 0, 0, 0.119) 0px 0px 5px 5px;
    text-align: start;
    
}
hr{
    width: 25%;
    margin: 1em 0px;
}
.card_slider .my_name{
    color: white;
}
.card_slider .title_txt{
    color: rgb(226, 220, 220);
    font-weight: bold;
    margin: .5em 0px;
}
.card_slider .my_desc{
    color: white;
    margin: .5em 0px;
}

@media screen and (max-width: 1366px){

	.active-slide.slide{
		max-height: 500px;
	}

	.slide{
		max-height: 500px;
	}

	.controls{
		font-size: 18px;
	}
}

@media screen and (max-width: 600px){

	.prev-button p, .next-button p{
		display: none;
	}
	.slider .card_slider{
		min-width: 300px;
		height: 500px;
	}
    .nav-mobile{
        width: 100%;
        left: 0;
        transform: translateX(0); 
    }
    .descCard{
        top: -70px;
    }

}

@media screen and (max-width: 480px){

	.active-slide.slide{
		max-height: 500px;
	}

	.slide{
        max-height: 500px;
	}

}

@media screen and (max-width: 420px){

	.active-slide.slide{
		max-height: 450px;
	}
}

