<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/fontawesome/css/all.css" />
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="carousel2.css" />
    <title>Carousel2</title>
  </head>
  <body>
    <section class="slick-slideshow">   
      <div class="slick-custom">
          <img src="https://m.media-amazon.com/images/I/71zaFiRjl0L._SX3000_.jpg" class="" alt="">

          <div class="slick-bottom">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-6 col-10">
                          <h1 class="slick-title">Cool Fashion</h1>

                          <p class="lead text-white mt-lg-3 mb-lg-5">Little fashion template comes with total 8 HTML pages provided by Tooplate website.</p>

                          <a href="about.html" class="btn btn-primary">Learn more about us</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="slick-custom">
          <img src="https://m.media-amazon.com/images/I/61k1tzeaofL._SX3000_.jpg" class="" alt="">

          <div class="slick-bottom">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-6 col-10">
                          <h1 class="slick-title">New Design</h1>

                          <p class="lead text-white mt-lg-3 mb-lg-5">Please share this Little Fashion template to your friends. Thank you for supporting us.</p>

                          <a href="product.html" class="btn btn-primary">Explore products</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="slick-custom">
          <img src="https://sn.jumia.is/cms/00000000_2024/BACK_TO_SCHOOL/SX/SN_W32_BTOS_GEN_712x384.jpg" class="" alt="">

          <div class="slick-bottom">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-6 col-10">
                          <h1 class="slick-title">Talk to us</h1>

                          <p class="lead text-white mt-lg-3 mb-lg-5">Tooplate is one of the best HTML CSS template websites for everyone.</p>

                          <a href="contact.html" class="btn btn-primary">Work with us</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </section>
    <script src="../../assets/jquery.js"></script>
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="slick.min.js"></script>
    <script src="carousel2.js"></script>
  </body>
</html>
