<div class="product" data-aos="zoom-in">
    <span class="product__price">12 000 frs</span>
    <img class="product__image" src="assets/images/produit1.png">
    <h1 class="product__title">Nom du produit</h1>
    <hr />
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique corporis, adipisci est rerum sit laboriosam ipsa dolorem necessitatibus quidem perferendis! Soluta nobis repellat sunt quo temporibus modi ratione consequatur exercitationem.
    </p>
    <a href="https://wa.me/221784338388?text=Bonjour, je suis intéresser par ce produit https://demo.yayaly.xyz/" target="_blank" class="product__btn btn" title="Contacter le vendeur via WhatsApp">Commander</a>
  </div>