<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/fontawesome/css/all.css">
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="Accueil2.css">
    <title>Accueil2</title>
</head>
<body>
    <main>
        <section class="slick-slideshow">   
            <div class="slick-custom">
                <img src="https://m.media-amazon.com/images/I/71zaFiRjl0L._SX3000_.jpg" class="" alt="">
    
                <div class="slick-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-10">
                                <h1 class="slick-title">Cool Fashion</h1>
    
                                <p class="lead text-white mt-lg-3 mb-lg-5">Little fashion template comes with total 8 HTML pages provided by Tooplate website.</p>
    
                                <a href="about.html" class="btn btn-primary">Learn more about us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="slick-custom">
                <img src="https://m.media-amazon.com/images/I/61k1tzeaofL._SX3000_.jpg" class="" alt="">
    
                <div class="slick-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-10">
                                <h1 class="slick-title">New Design</h1>
    
                                <p class="lead text-white mt-lg-3 mb-lg-5">Please share this Little Fashion template to your friends. Thank you for supporting us.</p>
    
                                <a href="product.html" class="btn btn-primary">Explore products</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="slick-custom">
                <img src="https://sn.jumia.is/cms/00000000_2024/BACK_TO_SCHOOL/SX/SN_W32_BTOS_GEN_712x384.jpg" class="" alt="">
    
                <div class="slick-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-10">
                                <h1 class="slick-title">Talk to us</h1>
    
                                <p class="lead text-white mt-lg-3 mb-lg-5">Tooplate is one of the best HTML CSS template websites for everyone.</p>
    
                                <a href="contact.html" class="btn btn-primary">Work with us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </section>
        <section class="about section-padding my-5" id="section_1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                        <div class="about-image-wrap h-100">
                            <img src="https://i.roamcdn.net/hz/ed/listing-thumb-543w/0cafa1aceeedc2a2521cd303315cd2ab/-/horizon-files-prod/ed/picture/qngppq89/349a45b15d1af58b7c7a73e7c4986d2908a4ee44.jpg" class="about-image" alt="">
    
                            <div class="about-image-info">
                                <h4 class="text-white">William Smith, CEO</h4>
    
                                <p class="text-white mb-0">You can freely use Waso Strategy for your website project. Thank you for visiting Tooplate.</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-6 col-12">
                        <div class="about-thumb bg-white shadow-lg">
                            
                            <div class="about-info">
                                <small class="small-title"><strong class="text-warning">Qui sommes-nous ?</strong></small>
                                <div class="left-content">
                                    <!-- <h2>Qui sommes nous</h2> -->
                                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat vel, nobis nesciunt ducimus illum sapiente, maiores veniam facilis fuga eum expedita. Quod odit unde assumenda libero eligendi quas omnis eius.</span>
                                    <div class="quote">
                                        <i class="fa fa-quote-left"></i>
                                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, ea hic tempore eius natus totam omnis, id et, nisi adipisci debitis rerum laboriosam voluptas cum nobis officia. Ullam, quibusdam quos!</p>
                                    </div>
                                    <div class="main-border-button">
                                        <a href="#" class="btn btn-shop">Nous Contacter</a>
                                    </div>
                                </div>
                                <!-- <h2 class="mb-3">Consulting Agency</h2>
    
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis placeat cum modi asperiores voluptates quod, corporis quis quasi consectetur provident quibusdam, corrupti odit doloribus fuga eius accusantium non nulla mollitia?
                                    Nulla assumenda illo neque ducimus hic a sapiente voluptatum modi alias, sint dolorum commodi, veniam similique numquam maiores, error voluptatem. Quis obcaecati eaque, consectetur fugiat placeat sunt corrupti illum a!
                                </p>
    
                                <a class="btn btn-dark" href="#section_3">Explorer</a> -->
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </section>
        <section class="featured-product section-padding">
            <div class="container">
                <div class="row">
                    
                    <div class="col-12 text-center">
                        <h2 class="mb-5">Featured Products</h2>
                    </div>
    
                    <div class="col-lg-4 col-12 mb-3">
                        <div class="product-thumb">
                            <a href="product-detail.html">
                                <img src="http://127.0.0.1:5501/images/product/evan-mcdougall-qnh1odlqOmk-unsplash.jpeg" class="img-fluid product-image" alt="">
                            </a>
    
                            <div class="product-top d-flex">
                                <span class="product-alert me-auto">New Arrival</span>
    
                                <a href="#" class="bi-heart-fill product-icon"></a>
                            </div>
    
                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">
                                        <a href="product-detail.html" class="product-title-link">Tree pot</a>
                                    </h5>
    
                                    <p class="product-p">Original package design from house</p>
                                    <a href="#" class="btn btn-dark">Nous Contacter</a>
                                </div>
    
                                <small class="product-price text-muted ms-auto mt-auto mb-5">$25</small>

                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-12 mb-3">
                        <div class="product-thumb">
                            <a href="product-detail.html">
                                <img src="http://127.0.0.1:5501/images/product/jordan-nix-CkCUvwMXAac-unsplash.jpeg" class="img-fluid product-image" alt="">
                            </a>
    
                            <div class="product-top d-flex">
                                <span class="product-alert">Low Price</span>
    
                                <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
                            </div>
    
                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">
                                        <a href="product-detail.html" class="product-title-link">Fashion Set</a>
                                    </h5>
    
                                    <p class="product-p">Costume Package</p>
                                </div>
    
                                <small class="product-price text-muted ms-auto mt-auto mb-5">$35</small>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-12">
                        <div class="product-thumb">
                            <a href="product-detail.html">
                                <img src="http://127.0.0.1:5501/images/product/nature-zen-3Dn1BZZv3m8-unsplash.jpeg" class="img-fluid product-image" alt="">
                            </a>
    
                            <div class="product-top d-flex">
                                <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
                            </div>
    
                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">
                                        <a href="product-detail.html" class="product-title-link">Juice Drinks</a>
                                    </h5>
    
                                    <p class="product-p">Nature made another world</p>
                                </div>
    
                                <small class="product-price text-muted ms-auto mt-auto mb-5">$45</small>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-12 text-center">
                        <a href="products.html" class="view-all">View All Products</a>
                    </div>
    
                </div>
            </div>
        </section>
    </main>
    <script src="../../assets/jquery.js"></script>
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="slick.min.js"></script>
    <script src="Accueil2.js"></script>
</body>
</html>