    <!-- ***** Explore Area Starts ***** -->
    <section class="section" id="explore">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-content">
                        <h2>Qui sommes nous</h2>
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat vel, nobis nesciunt ducimus illum sapiente, maiores veniam facilis fuga eum expedita. Quod odit unde assumenda libero eligendi quas omnis eius.</span>
                        <div class="quote">
                            <i class="fa fa-quote-left"></i>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, ea hic tempore eius natus totam omnis, id et, nisi adipisci debitis rerum laboriosam voluptas cum nobis officia. Ullam, quibusdam quos!</p>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi velit, molestias quaerat id quod sit unde quasi laborum rem saepe, odit quam exercitationem possimus labore fugiat consequatur laboriosam reprehenderit deleniti!</p>
                        <div class="main-border-button">
                            <a href="#" class="btn btn-shop">Nous Contacter</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="leather">
                                    <h4>Nouvelles collections</h4>
                                    <span>Latest Collection</span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="first-image">
                                    <img src="assets/images/produit1.png" alt="">

                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="second-image">
                                    <img src="assets/images/logo.png" alt="Logo">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="types">
                                    <h4>Titre</h4>
                                    <span>Titles</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Explore Area Ends ***** -->