// /* You can add global styles to this file, and also import other style files */

// /*---------------------------------------
//   CUSTOM PROPERTIES ( VARIABLES )             
// -----------------------------------------*/
:root {
    --white-color:                #FFFFFF;
    --primary-color:              #580203;
    --secondary-color:             #ff7f00;
}
//     --section-bg-color:           #f0f8ff;
//     --dark-color:                 #000000;
//     --grey-color:                 #d0d1d1;
//     --p-color:                    #717275;
  
//     --body-font-family:           'Inter', sans-serif;
  
//     --h5-font-size:               24px;
//     --p-font-size:                20px;
//     --copyright-text-font-size:   16px;
//     --product-link-font-size:     14px;
//     --custom-link-font-size:      12px;
  
//     --font-weight-thin:           100;
//     --font-weight-light:          300;
//     --font-weight-normal:         400;
//     --font-weight-bold:           700;
//     --font-weight-black:          900;
//   }
  
//   body,
//   html {
//     height: 100%;
//   }
  
//   html {
//     scroll-behavior: smooth;
//   }
  
//   @media screen and (prefers-reduced-motion: reduce) {
//     html {
//       scroll-behavior: auto;
//     }
//   }
  
//   body {
//       background: var(--white-color);
//       font-family: var(--body-font-family);    
//       position: relative;
//   }
  
  
//   p {
//     color: var(--p-color);
//     font-size: var(--p-font-size);
//     font-weight: var(--font-weight-light);
//   }
  
//   a, 
//   button {
//     touch-action: manipulation;
//     transition: all 0.3s;
//   }
  
//   a {
//     color: var(--p-color);
//     text-decoration: none;
//   }
  
//   a:hover {
//     color: var(--primary-color);
//   }
  
//   .text-primary {
//     color: var(--primary-color) !important;
//   }
  
//   ::selection {
//     background: var(--primary-color);
//     color: var(--white-color);
//   }
  
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}