<aside
  id="logo-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
  aria-label="Sidebar"
>
  <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
    <ul class="space-y-2 font-medium">
      <li>
        <a
          routerLink="/client/dashboard"
          routerLinkActive="active"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <img
            src="assets/icon/dashboard.svg"
            alt="Dashboard SVG"
            class="w-5 h-5"
          />
          <span class="ms-3">Dashboard</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/client/categorie"
          routerLinkActive="active"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <img
            src="assets/icon/modules.svg"
            alt="categorie SVG"
            class="w-5 h-5"
          />
          <span class="flex-1 ms-3 whitespace-nowrap">Categories</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/client/produit"
          routerLinkActive="active"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <img src="assets/icon/shop.svg" alt="produit SVG" class="w-5 h-5" />
          <span class="flex-1 ms-3 whitespace-nowrap">Produits</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/client/galerie"
          routerLinkActive="active"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <img src="assets/icon/media.svg" alt="galerie SVG" class="w-5 h-5" />
          <span class="flex-1 ms-3 whitespace-nowrap">Galeries</span>
        </a>
      </li>

      <li>
        <a
          routerLink="/"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <img src="assets/icon/logout.svg" alt="logout SVG" class="w-5 h-5" />
          <span class="flex-1 ms-3 whitespace-nowrap">Déconnexion</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
